nav {
  display: flex;
  color: white;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  justify-content: space-between;
  align-items: center;
}
ul > li {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: lightblue;
  margin: 10px;
  padding: 1rem;
  font-size: 20px;
}
ul li {
  list-style-type: none;
}
.navbar-toggler-icon {
  background-color: blue;
}
